*~
*.o
*.d
\#*\#
.deps
build
build-aux
config.h
config.log
config.status
Makefile
Makefile.in
configure
config.h.in
stamp-h1
wandercat
aclocal.m4
autom4te.cache
data/*.png
*/*.large.png
*/*.small.png
